body{
   margin:0;
   padding:0 ;
}
.align{
text-align: center;
padding-left: 50px;
}
h1{
   font-size: 50px;
}
p{
   color: #696363;
}
.pink{
   color: blueviolet;
}
.blue{
   color:rgb(219, 48, 36);
}
.half{
 float: left;
 width: 40%;
 margin-left: 5%;
 padding-left: 2%;
}
.half>h1{
   padding:5rem;
   background-image:url(img/left-bg-shape.svg);
   background-repeat: no-repeat;
   
}
.top{
   padding-top: 50%;
   width: 420px;
}
.border{
   border-left: solid red 5px;
   padding-right: 8px;
}